<!-- Products Items -->
{% if '0' in content.field_best_offer[0] %}
{% if content.field_style[0]['#markup'] == 0 %}
<div class="col-1">
	<a href="{{ content.field_url[0]['#url']|render }}" class="item-grid one" 
	style="background-image: url({{ file_url(content.field_image['#items'].entity.uri.value) }})">
		<div class="v-align">
			<div class="v-align-middle">
				<span class="icon">
					<img src="{{ file_url(content.field_picture	['#items'].entity.uri.value) }}" 
					alt="{{ content.field_image['#items'].alt }}" class="img-responsive">
				</span>
				<h3 class="title">{{ content.field_title.0 }}</h3>
				<h5 class="category">{{ content.field_phone_number.0 }}</h5>
			</div>
		</div>
	</a>
</div>	
{% else %}
	<div class="col-2">
		<a href="{{ content.field_url[0]['#url']|render }}" class="item-grid two" style="background-image: url({{ file_url(content.field_product_right_side_image['#items'].entity.uri.value) }})">
			<div class="v-align">
				<div class="v-align-middle">
					<span class="icon">
					   <img src="{{ file_url(content.field_picture['#items'].entity.uri.value) }}" 
					   alt="{{ content.field_product_right_side_image['#items'].alt }}" class="img-responsive">
					</span>
					<h3 class="title">{{ content.field_title.0 }}</h3>
					<h5 class="category">{{ content.field_phone_number.0 }}</h5>
				</div>
			</div>
		</a>
	</div>
{% endif %}
{% else %}
 	{% if content.field_style[0]['#markup'] == 0 %}
	<div class="col-1 reverse">
		<a href="{{ content.field_url[0]['#url']|render }}" class="item-grid one" style="background-image: url({{ file_url(content.field_image['#items'].entity.uri.value) }})">
			<div class="v-align">
				<div class="v-align-middle">
					<span class="icon">
						<img src="{{ file_url(content.field_picture['#items'].entity.uri.value) }}" alt="{{ content.field_image['#items'].alt }}" class="img-responsive"></span>
					<h3 class="title">{{ content.field_title.0 }}</h3>
					<h5 class="category">{{ content.field_phone_number.0 }}</h5>
				</div>
			</div>
		</a>
	</div>
	 {% else %}
		<div class="col-2 reverse">
			<a href="{{ content.field_url[0]['#url']|render }}" class="item-grid two" style="background-image: url({{ file_url(content.field_product_right_side_image['#items'].entity.uri.value) }})">
				<div class="v-align">
					<div class="v-align-middle">
						<span class="icon">
							<img src="{{ file_url(content.field_picture['#items'].entity.uri.value) }}" alt="{{ content.field_product_right_side_image['#items'].alt }}" class="img-responsive">
						</span>
						<h3 class="title">{{ content.field_title.0 }}</h3>
						<h5 class="category">{{ content.field_phone_number.0 }}</h5>
					</div>
				</div>
			</a>
		</div>
	{% endif %}	
{% endif %}		
<!-- Products Items End-->
